body{
    text-align: center;
    background-image: url("background\ image.jpg");
    background-size: cover;
}
h3{
    cursor: pointer;
}
.red{
    background-color: #f54251;
}
.yellow{
    background-color: #f5bc42;
}
.blue{
    background-color: #429bf5;
}
.pink{
    background-color:#f542bf
}
.main{
    width: 300px;
    height: 350px;
    border: 1px solid whitesmoke;
    border-radius: 30px;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.431);
    box-shadow: -6px -6px 10px whitesmoke;
}
.boxmain{
    display: flex;
    width: 100%;
    height: 90%;
    border: 1px solid whitesmoke;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
    
}
.inner{
    height: 100px;
    width: 100px;
    border: 1.5px solid white;
    border-radius: 30px;
}
.inner:hover {
    transform: scale(1.05);
    cursor: pointer;
  }
  
.foot{
    color: white;
    text-align: center;
    padding-top: 5px;
    height: 10%;
    width: 100%;
    border: 2px solid whitesmoke;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius:30px ;
    background-color: black;
}
.flash{
    background-color: white;
}
.userflash{
    background-color: black;
    border-width: 3px;
    box-shadow: 2px 2px 6px white;
}